:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --primary-light: 255, 255, 255;
  --primary-dark: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--primary-dark));
  background-color: rgb(var(--primary-light));
  min-height: 100vh;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

a {
  color: #009ad6;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
